* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
@font-face {
  font-family: SSSocialRegular;
  src: url(fonts/ss-social-regular.eot);
  src: url(fonts/ss-social-regular.eot?#iefix) format('embedded-opentype'),
       url(fonts/ss-social-regular.woff) format('woff'),
       url(fonts/ss-social-regular.ttf)  format('truetype'),
       url(fonts/ss-social-regular.svg#SSSocialRegular) format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(247,247,247,1);
}

.light--green {
    background-color: #a3e6c3;
}

.light--yellow {
    background-color: #fff166;
}


/*  ===================================================
    01. Mobile
    =================================================== */

@media (min-width: 320px) { 
    header {
        width: 100%;
        position: fixed;
        z-index: 999;
        height: 45px;
        background-color: white;
        box-shadow: 0px 1px 0px rgba(51,51,51,.25);
        padding-top: 0px;    
    }
    
        nav .menu-icon {
            display: none;
            width: 15%;
            max-width: 50px;
            min-width: 32px;
            display: block;
            margin: 0;
            float: right;
            height: 45px;
        }
    
            nav ul {
                padding: 0 2.5%;
                margin: 0 0px 0 0;
                width: 75%;
                height: 100%;
                float: left;
            }
    
            nav ul li {
                list-style: none;
                float: left;
                margin: 12px 10px 0px 5px;
            }
            
            ul.social-nav {
                list-style: none;
                float: right;
                width: 25%;
                height: 100%;
            }
    
            .social-nav__link {
                width: 27px;
                height: 27px;
                margin: -2px -5px 0;
                float: right;
            }
    
        .header-logo {
            width: 50px;
            height: 45px;
            float: left;
            margin: 0 20px 0 10px;
            background-color: #fff166;
        }
    
    .logo_wordmark {
        max-width: 12.5em;
        height: auto;
        margin-top: 5px;
        float: left;
    }
    
    
    
    
    
    
    /*------------------------------------*\
        #Mobile-Main 
    \*------------------------------------*/
    
    .main-container,
    .tracker-container,
    .main-container__about {
        max-width: 22em;
        margin: 0px auto 0;
        padding: 75px 0;
        float: none;
    }
    
    .main-container__about {
        padding: 25px 0;
    }
    
    .tracker-container {
        margin-bottom: 0px;
        padding: 0;
    }
    
    section {
        display: block;
    }
    
    .interaction-container {
        margin: 0px auto 25px;
        text-align: center;
    }
    
    .iphone-learning-container,
    .refer-container {
        width: 100%;
        float: left;
        text-align: center;
    }
    
    .refer-container {
        padding-top: 50px;
    }
    
    .how-it-works-container {
        width: 100%;
        float: left;
        z-index: 10;
        padding: 30px 5%;
        margin-top: 50px;
    }
    .how-it-works-container aside {
        margin: auto;
        text-align: center;
        margin-bottom: 40px;
    }
    .first-container,
    .second-container {
        margin-top: 25px;
    }
    .first-container {
        float: left;
        top: 0px;
        margin-top: 0px;
    }
    .second-container {
        float: right;
        top: 200px
    }
    .cta-container {
        margin: 25px auto 50px;
        clear: both;
    }
    aside.number-of-friends,
    aside.benefits {
        width: 100%;
        float: left;
    }
    
    .page-content_pane--left,
    .page-content_pane--right {
        width: 100%;
        height: 50%;
        float: left;
        text-align: center;
    }
    
    .page-content_pane--left {
        background-color: #a3e6c3;
        padding-top: 50px;
    }
    
    .page-content_pane--right {
        background-color: #fff166;
    }
    
    .pane-background--desk {
        background: url(../images/background.png);
        background-position: 50% 40%;
    }
    
    .header-container {
        padding: 20px 40px;
    }
    
    .masthead {
        width: 100%;
        height: 60vh;
        background-color: #fff166;
    }
    
    .thanks-container {
        position: fixed;
        z-index:9;
        background-color: #8ccbf9;
        border-bottom: 1px solid #00aced;
        margin-top: 45px;
        float: left;
        width: 100%;
        padding: 12px 0px 10px;
        margin-bottom: 45px;
        text-align: center;
    }
    
    .close {
        width: 15px;
        height: 15px;
        float: right;
        position: absolute;
        right: 25px;
        top: 16px;
    } 
    
    .progress-bar {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: 2px solid #00aced;
        background-color: white;
    }
    
    .progress-bar li {
        padding: 15px 0 25px;
        list-style: none;
    }
    
    .progress-bar li:nth-child(n+3) {
        border-top: 1px solid #00aced;
    }
    
    .progress-bar__blue {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 74%;
        background-color: #00aced;
        opacity: .25;
    }
    
    
    /* Footer
    ************************************* */
    
    footer {
        width: 100%;
        margin: 75px auto 20px;
        float: left;
        display: block;
        clear: both;
        border-top: 1px solid #ddd;
        text-align: center;
        padding: 10px 5%;
    }
    
    
    
    
    
    
    
    /* Images
    ************************************* */
    
    .how-it-works img {
        display: block;
        margin: auto;
        max-height: 400px;
    }
    
    img {
        margin: auto;
        display: block;
    }
    
    img.center {
        width: 250px;
        margin: auto;
        display: block;
        float: none;
    }
    
    .investing-illus {
        width: 60%;
        width: 250px;
        height: 250px;
        display: block;
        border-radius: 100%;
        border: 3px solid rgb(51,51,51);
        background-color: rgba(255,255,255,1);
        margin-bottom: 35px;
    }
    
    .menu-icon img {
        width: 25px;
        float: left;
        position: relative;
        top: 13px;
    }
    
    .yellowbird-sketch {
        width: 320px;
        height: 200px;
        margin: auto;
        display: block;
        background-color: white;
        border: 1px solid #ccc;
    }
    
    
    
    
    

    /* iPhone Shell
    ************************************* */
    
    .iphone-shell {
        position: absolute;
        top: 348px;
        left:8px;
        right:0;
        margin-left:auto;
        margin-right:auto;
        width: 199px;
        height: 352px;
        background-color:tomato;
        border: 1px solid black;
/*        opacity: .4;*/
    }
    .stock-info {
        width:100%;
        float: left;
        padding: 10px 7px 0 7px;
    }
    .symbol {
        width: 50%;
        float: left;
        text-align: left;  
    }
    .price {
        width: 50%;
        float: right;
        text-align: right;
    }
    .price-change {
        
    }
    .value-info {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 168px;
        background-color: white;
        float: left;
        padding: 0 10px;
    }
    .value-info ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .value-info li {
        text-align: left;
        float: right;
        padding-top: 20px;
        padding-bottom: 4px;
        width: 100%;
    }
    .value-info li:nth-child(1n-1) {
        border-top: 1px solid #ccc;
    }
    .value-info li:first-of-type {
        border-top: none;
    }
    ul#duration {
        list-style: none;
        padding: 0 0px 5px;
        margin: 0 0 5px;
        float: left;
        width: 100%;
        position: relative;
        top: 10px;
        border-bottom: 1px solid #ddd;
        z-index: 99;
    }
    ul#duration a li {
        float:left;
        width: 25%;
        text-align: center;
        padding: 3px 0;
        text-transform: uppercase;
    }
    ul#duration a li:nth-child(1n+2) {
        border-left: 1px solid rgba(255,255,255,.6);;
    }
    li.active {
        background-color: rgba(255,255,255,.6);
        color: rgba(255,255,255,1);
    }
    
    .notes_right,
    .notes_left--price,
    .notes_left--chart,
    .notes_left--time {
        display: none;
    }
    
    
    
    
    
    
    /* Elements
    ************************************* */
    
    .go-back,
    .go-back--left{
        display: none;
        width: 40px;
        height: 30px;
        position: absolute;
        top: 30px;
    }
    
    .go-back /* right */ {
        left: 85%;
    }
    
    .circle {
        display: none;    
    }
    
    .go-back--left {
        left: 5%;
        transform: rotate(180deg);
    }
    
    .button {
        max-width: 185px;
        width: 140px;
        padding: 10px 0 12px;
        display: block;
        text-decoration: none;
        color: white;
    }
    
    form {
        width: 100%;
    }
    
    input {
        height: 40px;
        border: 2px solid #bbb;
        border-radius: 5px;
        width: 100%;
        float: left;
    }
    
        input {
            font-size: 1em;
            text-indent: 10px;
        }
    
        input.store {
            border-radius: 5px;
            margin-bottom: 15px;
        }
    
    .md-content input {
        background-color: transparent;
        text-align: left;     
    }
    
    button.short,
    button.go-back {
        height: 40px;
        width: 100%;
        margin-top: 10px;
        border: 1px solid #bbb;
        background-color: transparent;
        color: #bbb;
        float: left;
    }

    button {
        text-align: center;
        font-size: 1em
    }
    
    button.go-back {
        position: absolute;
        left: 8px;
        top: 10px;
        width: 90px;
        border-radius: 7px;
    }
    .cta-container button {
        width: 49%;
    }
    button.go-back:hover {
        background-color: #f0f0f0;
    }
    
    form button.forward {
        float: right;
        width: 15%;
        height: 40px;
    }
    
    button.forward {
        border: 0;
        border-radius: 7px;
        border: 2px solid black;
    }
    
    ::-webkit-input-placeholder {
        font-style: normal;
        color: rgb(220,220,220);
    }
    
    .refer-container input {
        margin: 20px auto 10px;
        width: 250px;
        display: block;
        float: none;
        text-align: center;
    }
    
    
    
    
    
    
    /* Styling Attributes
    ************************************* */
    
    .rounded {
        border-radius: 5px;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .center {
        text-align: center;
        margin: 0 auto 20px;
    }
    .clearfix {
/*
      overflow: auto;
      zoom: 1;
*/
    }
    
    img.center-big {
        width: 290px;
        height: 100%;
    }

     #close {
        width: 25px;
        height: 25px;
        position: relative;
        float: right; 
        top: 25px;
        right: 25px;
    }
    
    
    
    
    
 
    /*------------------------------------*\
        #Mobile-Modal for Sign Up
    \*------------------------------------*/
    
    ul.social-media-links {
        padding: 0;
        margin: auto;
        width: 100%;
        list-style: none;
        float: left;
        display: block;
    }
    
    .circle-social {
        float: none;
        display: inline-block;
        margin: 15px 2%;
        border-radius: 100%;
        border: 2px solid;
    }
        .twitter {
            border-color: #00aced;
        }
    
    
    
    
    /*------------------------------------*\
        #Mobile-Modal for Sign Up
    \*------------------------------------*/
    

    .md-modal, .md-modal-full {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: 37.5em;
        border-radius: 0px;
        float: left;
        z-index: 2000;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
/*
        Do not touch this. It pushes the mobile sign in modal up beyond the navigation bar.
        
        backface-visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
*/
    }
    
        .modal-title {
            width: 100%;
            height: 45px;
            float: left;
            margin-bottom: 25px;
        }
    
        button.md-close {
            position: absolute;
            top: 6px;
            right: 20px;
            border: 0;
            background-color: transparent;
            width: 32px;
            height: 32px;
            opacity: .75;
        }
    
        .md-content input {
            background-color: transparent;
            text-align: left;     
        }
    
        button.short,
        button.go-back, 
        .button_green--long {
            height: 40px;
            padding-top: 5px;
            width: 100%;
            margin-top: 10px;
            background-color: #a3e6c3;
            border: 2px solid #2dc177;
            color: white;
            float: left;
            border-radius: 5px;
        }
    
        .md-modal-full {
            max-width: 100%;
            max-height: 600px;
        }

        .md-show {
            visibility: visible;
        }

    /* Content styles */
    
    .md-content {
        position: relative;
        top: 0;
        float: left;
        color: #fff;
        width: 100%;
        background: white;
        position: relative;
        border-radius: 0px;
        margin: 0 auto;
        padding: 0px 10% 30px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0,0,0,.25);
    }
    .md-content h3 {
        margin: 0;
        padding: 0.4em;
        text-align: center;
        font-size: 2.4em;
        font-weight: 600;
        letter-spacing: -1px;
        opacity: 1;
        color: black;
        background: rgba(0,0,0,0.0);
        border-radius: 3px 3px 0 0;
    }
    .md-content > div {
        padding: 10px 30px 0px;
        margin: 0;
        font-weight: 300;
        font-size: 1em;
    }
    .md-content > div p {
        margin: 0;
        padding: 10px 0;
    }

    .md-content form {
        padding: 5px 5% 25px;
        float: left;
        width: 100%:
    }
    
    .md-content input {
        border: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;        
        display: block;
        margin: 25px auto;
        float: left;
/*
        width: 100%;
        max-width: 400px;
        font-size: 1.25em;
        text-align: center;
*/
    }
    .md-content input:focus {
        outline: inherit;
    }
    .md-content button {
        display: block;
        margin: 0 auto;
        font-size: 1em;
    }

    /* Individual modal styles with animations/transitions */

    /* Effect 1: Fade in and scale up */
    .md-effect-1 .md-content {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .md-show.md-effect-1 .md-content {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    .md-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        visibility: hidden;
        top: 0;
        left: 0;
        z-index: 1000;
        opacity: 0;
        background: rgba(60,60,60,0.8);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .md-show ~ .md-overlay {
        opacity: 1;
        visibility: visible;
    }
/*
     Effect 12:  Just me 
    .md-effect-12 .md-content {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .md-show.md-effect-12 ~ .md-overlay {
        background: #fff166;
    } 
*/
    
    
    
    
    
    
    /* ---- How It Works ----*/
    article.how-it-works {
        max-width: 65em;
        height: 400px;
        margin: auto;
        text-align: center;
    }
    .md-modal-full button.md-close {
        position: absolute;
        top: 10px;
        right: 60px;
        border: 0;
        background-color: transparent;
        font-size: 2em;
        border-radius: 0;
        padding-top: 0;
    }
    .md-effect-12 .md-content h3,
    .md-effect-12 .md-content {
        background: transparent;
    }

    .md-show.md-effect-12 .md-content {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    /* Color Attributes
    ************************************* */
    
    button.short:hover,
    .forward{
        border: 1px solid rgb(57,181,74);
        background-color: rgb(176,225,183);
        color: white;
    }
    
    .dark-grey {
        border: 2px solid rgb(70,70,70);
        background-color: rgb(130,130,130);
        color: white;
    }
    
    .light--yellow {
        background-color: #fff166;    
    }
    
    .dark-grey:hover,
    .green:hover {
        color: white;
    }
    
    .dark-grey:hover {
        background-color: rgb(90,90,90);
    }
    
    .green:hover {
        background-color: #2dc177;    
    }
    
    .twitter {
        background-color: #8ccbf9;
        border-color: #00aced;
    }
    .facebook {
        background-color: #899bc1;
        border-color: #3b5998;
    }
    .email {
        background-color: #b3b3b3;
        border-color: #666666;
    }
    /* Typography
    ************************************* */
    
    h1,h2,h3,h4,h5,p,a,
    .button, input, button, td,
    .symbol, .price, .price-change, .value-info,        
    ul#duration li, span {
        font-family: "proxima-nova",sans-serif;
        font-style: normal;
        color: rgb(51,51,51);
    }
    .circle {
        color: white;
    }
    h1 {
        font-size: 2.5em;
        line-height: 1.125em;
        text-align: center;
    }
    
    header h1 {
        margin: 0 auto;
        padding: 0;
        font-size: 2em;
    }
    .thanks-container span {
        margin: 0;
        padding: 0;
        font-size: 1.25em;
        color: white;
        font-weight: normal;
        text-align: center;
    }
    
    aside h1, aside h3 {
        margin: 0;
        padding: 0;
    }
    
    .refer-container h1, 
    .refer-container h3, 
    .refer-container p {
        margin: 0;
        padding: 0;
    }
    
    .refer-container h1 {
        text-align: center;
        font-size: 30px;
        line-height: 1.1333;
        margin-bottom: 20px;
    }
    
    .refer-container h3 {
        margin-bottom: 20px;
    }
    
    .md-content h1 {
        float: left;
        width: 100%;
    }
    h2 {
        font-size: 1.875em; /* 30px */
        margin: 0 0 15px 0;
        padding: 0;
    }
    h3 {
        font-weight: normal;
        color: #bbb;
    }
    h4 {
        color: #00aced;
        font-size: 2em;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    p {
        font-size: 1.125em;
        line-height: 1.375em;
        color: rgb(77,77,77);
        padding: 0;
        margin: 15px 0;
    }
    td p {
        margin: 0;
        padding: 0;
    }
    .tracker-container p {
        text-align: center;
    }
    p a {
        color: rgb(86,164,218);
        text-decoration: none;
    }
    .symbol,.price,.price-change {
        color: white;
    }
    .symbol, .price {
        font-size: 1.25em;
        font-weight: 200;
        vertical-align: baseline;
    }
    .price-change {
        font-size: 0.5em;
    }
    .value-info {
        font-size: .85em;
        color: #bbb;
    }
    .info {
        text-align: right;
        float: right;
        margin-right: 0px;
        font-size: 1.75em;
        vertical-align: baseline;
        padding: 0;
        margin-top: -9px;
        display: inline-block;
        color: rgb(51,51,51);
        letter-spacing: -1px;
    }
    ul#duration li {
        color: #ccc;
        font-size: .875em; 
    }
    ul#duration li.active {
        color: #00aced;
        font-weight: 700;
    }
    
    span.signees {
        font-size: 2em;
        font-weight: 600;
        color: #00aced;
    }
}







/*  ===================================================
    02. Tablet
    =================================================== */

@media (min-width: 567px) {  
    
    .main-container__about {
        width: 65%;
        max-width: 57.5em;
    }

     
}






/*  ===================================================
    03. Desktop
    =================================================== */

@media (min-width: 960px) {
    header {
        width: 100%;
        height: 45px;
        background-color: white;
        border-bottom: none;
        padding-top: 0px;
        
    }
    header > nav {
        max-width: 57.5em;
        margin: auto;  
    }
    .main-container,
    .tracker-container{
        max-width: 57.5em;
        margin: 0px auto 0;
        
    }
    .tracker-container {
        margin-bottom: 75px;
        text-align: center;
    }
    

    section {
        display: block;
    }
    .interaction-container {
        margin: 0px auto 25px;
        text-align: left;
    }
    .iphone-learning-container,
    .refer-container {
        width: 50%;
        float: left;
    }
    .refer-container {
        padding-top: 50px;
        padding-right: 10%;
        position: relative;
        z-index: 10;
        text-align: left;
    }
    .how-it-works-container {
        width: 100%;
        float: left;
        position: relative;
        z-index: 10;
        padding: 30px 15%;
        margin-top: 50px;
    }
    .how-it-works-container aside {
        width: 57.5em;
        margin: auto;
        text-align: center;
        margin-bottom: 40px;
    }
    article.how-it-works aside {
        float: left;
        width: 33.3333333333%;
        padding: 0 1.5%;
    }
    .first-container,
    .second-container{
        width: 30%;
        position: relative;
    }
    .first-container {
        float: left;
        top: 100px;
    }
    
    .second-container {
        float: right;
        top: 200px
    }
    
    .iphone-container {
        width: 40%;
        float: left;
    }
    
    .thanks-container {
        margin: 0;
        padding: 15px 0 20px;
        z-index: 99;
        top: 45px;
    }
    
    .cta-container {
        width: 60%;
        margin: 20px auto 0px;
        padding-top: 15px;
        clear: both;
        display: block;
        float: none;
    }
    aside.number-of-friends,
    aside.benefits {
        width: 100%;
        float: left;
    }
    
    .page-content_pane--right,
    .page-content_pane--left {
        width: 50%;
        height: 100%;
        left: 0;
        margin-right: 0px;
        padding-right: 1px;
        position: absolute;
        top: 0;
    }
    
    .page-content_pane--right {
        height: 100%;
        left: auto;
        right: 0; 
    }
    
    .pane-background--desk {
        background: #fff166 url(../images/background.png) no-repeat top right;
        background-position: -1% 0%;
    }
    
    .header-container {
        width: 100%;
        padding: 40px 40px 40px;
        text-align: center
    }
    
    
    
    
    
    
    
    /* Footer
    ************************************* */
    
    footer {
        width: 57.5em;
        margin: 75px auto;
        display: block;
        clear: both;
        border-top: 1px solid #ddd;
        text-align: center;
        float: none;
    }
    
    
    
    
    
    
    
    
    /* Images
    ************************************* */
    
    .features {
        width: 100%;
    }
    
    .investing-illus {
        width: 300px;
        height: 300px;
    }
    
    
    
    
    
    
    
    /* Elements
    ************************************* */
    
    .go-back,
    .go-back--left{
        display: block;
        width: 60px;
        height: 40px;
        position: absolute;
        top: 55px;
    }
    
    .go-back {
        left: 90%;
    }
    
    .go-back--left {
        left: 5%;
        transform: rotate(180deg);
    }
    
    .button {
        width: 185px;
        display: block;
        text-decoration: none;
        color: inherit;
    }
    
    input {
        height: 40px;
        border: 2px solid rgba(0,0,0,.35);
        border-radius: 5px;
        width: 200px;
    }
    
    button.short,
    button.go-back {
        height: 40px;
        width: 50px;
        margin-top: -2px;
        margin-left: 5px;
        border: 1px solid #bbb;
        background-color: transparent;
        color: #bbb;
    }
/*
    .circle {
        display: block;
        width: 40px;
        height: 40px;
        background-color: white;
        border: 2px solid #bbb;
        border-radius: 100%;
        box-shadow: 0px 3px 0px rgba(190,190,190,.5);
    } */
*/
    button {
        text-align: center;
        font-size: 1em
    }
    button.go-back {
        position: absolute;
        left: 8px;
        top: 10px;
        width: 90px;
        border-radius: 7px;
    }
    button.go-back:hover {
        background-color: #f0f0f0;
    }
    input {
        font-size: 1em;
        text-indent: 10px;
    }
    form input.transparent {
        width: 100%;
        margin: 0;
        margin-right: 2.5%;
        float: left;
        border-radius: 0;
    }
    form button.forward {
        float: right;
        width: 15%;
        height: 40px;
    }
    button.forward {
        border: 0;
        border-radius: 5px;
        border: 1px solid black;
    }
    ::-webkit-input-placeholder {
        font-style: normal;
        color: rgb(220,220,220);
    }
    .refer-container input {
        margin: 20px 0 10px;
        width: 250px;
        text-align: center;
    }
    .circle-social {
        text-align: center;
        font-size: 1.5em;
        color: #bbb;
        width: 60px;
        height: 60px;
        padding-top: 3px;
        margin-bottom: 20px;        
    }
    ul.social-media-links {
        padding: 0;
        margin 0;
        list-style: none;
    }
    table, tr, td, th {
        padding: 0;
        margin: 0; 
    }
    table {
        width: 57.5em;
        border: 2px solid #ddd;
        border-radius: 10px;
        background-color: white;
    }
    td {
        text-align: center;
        width: 20%;
        border: none;
        margin: 0;
    }
    .border-cell {
        border-left: 1px solid #ddd;
        border-top: 0px;
        width: 13.5%;
        padding: 10px 2.5%;
    }
    th {
        border: 0px;
    }
    li {
        float: left;
        margin-right: 20px;
    }
    li img {
        width: 60px;
        height: 60px;
        position: relative;
        left: -2px;
        top: -5px;
    }
    
    .notes_right,
    .notes_left--price,
    .notes_left--chart,
    .notes_left--time {
        position: absolute;
        display: block;
        top: 150px;
        left: 0;
    }
    
    .notes_right {
        top: 150px;
        text-align: right;
        left: 26%;
    }
    
    .notes_right::after,
    .notes_left--price::before,
    .notes_left--chart::before,
    .notes_left--time::before {
        content: "";
        display: inline-block;
        position: relative;
        top: -3px;
        background-color: rgba(51,51,51,.35);
    }
    
    .notes_right::after {
        width: 47px;
        height: 2px;
        margin: 0 0 0 20px;
    }
    
    .notes_left--price::before, 
    .notes_left--chart::before,
    .notes_left--time::before {
        width: 47px;
        height: 2px;
        margin: 0 20px 0 0;
    }
    
    .notes_left--time p {
        float: right;
        left: 65px;
        display: block;
        position: relative;
    }
    
    .notes_left--price,
    .notes_left--chart,
    .notes_left--time {
        left: 62%;
    }
    
    .notes_left--chart {
        top: 220px;
    }
    
    .notes_left--time {
        top: 330px;
        width: 20%;
    }
    
    
    
    
    
    
    /* Styling Attributes
    ************************************* */
    
    .rounded {
        border-radius: 5px;
    }
    
    .left {
        float: left;
    }
    
    .right {
        float: right;
    }
    
    .center {
        text-align: center;
        margin: 0 auto 0px;
    }
    
    img.center {
        margin: auto;
        display: block;
    }
    
    img.center-big {
        margin: auto;
        display: block;
        width: 360px;
        height: 100%;
        position: relative;
        top: 50px;
    }
    
    .clearfix {
      overflow: auto;
      zoom: 1;
    }

     #close {
        width: 25px;
        height: 25px;
        position: relative;
        float: right; 
        top: 25px;
        right: 25px;
    }
    
    
    
    
    
    
    /* Sign In Modal
    ************************************* */
    

    .md-modal, .md-modal-full {
        position: fixed;
        top: 40%;
        left: 50%;
        right: 50%;
        width: 35em;
        min-width: 320px;
        border-radius: 0px;
        height: auto;
        z-index: 2000;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .md-modal-full {
        width: 100%;
        max-height: 600px;
    }
    
    .md-show {
        visibility: visible;
    }

    /* Content styles */

    .md-content {
        border-radius: 5px;
    }

    .md-content h3 {
        margin: 0;
        padding: 0.4em;
        text-align: center;
        font-size: 2.4em;
        font-weight: 600;
        letter-spacing: -1px;
        opacity: 1;
        color: black;
        background: rgba(0,0,0,0.0);
        border-radius: 3px 3px 0 0;
    }

    button.md-close {
        top: 20px;
        border-radius: 0;
    }
    
    .md-content > div p {
        margin: 0;
        padding: 10px 0;
    }
    
    .md-close {
        position: absolute;
        top: 20px;
        right: 20px;
        border: 0;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: white;
        border: 2px solid #ddd;
    }
    
    .md-content form {
        padding: 5px 10% 25px;
    }
    
    .md-content form input {
        margin-bottom: 25px;
    }
    
/*
    .md-content input {
        border: 1px solid #ccc;
        display: block;
        margin: 25px auto;
        float: none;
        width: 100%;
        max-width: 400px;
        font-size: 1.25em;
        text-align: center;
    }
*/
    .md-content input:focus {
        outline: none;
    }
    .md-content > div ul {
        display: block;
        float: none;
        width: 100%;
        max-width: 400px;
        margin: 0 auto 30px auto;
        padding: 5px 0;
        clear: both;
    }
    
    .md-content > div ul li {
        padding: 0;
        list-style: none;
        width: 33.333333333%;
        float: left;
        background-color: transparent;
    }
    .md-content > div ul li img {
        width: 60px;
    }

    .md-content button {
        display: block;
        margin: 0 auto;
        font-size: 1em;
    }

    /* Individual modal styles with animations/transitions */

    /* Effect 1: Fade in and scale up */
    .md-effect-1 .md-content {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .md-show.md-effect-1 .md-content {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    .md-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        visibility: hidden;
        top: 0;
        left: 0;
        z-index: 1000;
        opacity: 0;
        background: rgba(60,60,60,0.8);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .md-show ~ .md-overlay {
        opacity: 1;
        visibility: visible;
    }
    /* Effect 12:  Just me */
    .md-effect-12 .md-content {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .md-show.md-effect-12 ~ .md-overlay {
        background: #fff166;
    } 
    
    /* ---- How It Works ----*/
    article.how-it-works {
        max-width: 65em;
        position: relative;
        top: 60px;
        min-height: 450px;
        margin: auto;
        text-align: center;
    }
    .md-modal-full button.md-close {
        position: absolute;
        top: 10px;
        right: 60px;
        border: 0;
        background-color: transparent;
        font-size: 2em;
        border-radius: 0;
        padding-top: 0;
    }
    .md-effect-12 .md-content h3,
    .md-effect-12 .md-content {
        background: transparent;
    }

    .md-show.md-effect-12 .md-content {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    
    
    
    
    
    
    
    /* iPhone Shell
    ************************************* */
    .iphone-shell {
        top: 139px;
        left: 10px;
    }
    
    .value-info li {
        text-align: left;
        float: right;
        padding-top: 20px;
        padding-bottom: 4px;
        margin: 0;
    }
    
    
    
    
    
    
    
    /* Color Attributes
    ************************************* */
    
    button.short:hover,
    .forward{
        border: 1px solid rgb(57,181,74);
        background-color: rgb(176,225,183);
        color: white;
    }
    .dark-grey {
        border: 1px solid rgb(70,70,70);
        background-color: white;
        color: white;
    }
    
    .light--yellow {
        background-color: #fff166;
    }
    
    .dark-grey:hover,
    .green:hover {
        color: white;
    }
    .white {
        background-color: white;
        border: 1px solid rgba (0,0,0,.75);
    }
    .dark-grey:hover {
        background-color: rgb(90,90,90);
    }
    .green:hover {
        background-color: #2dc177;    
    }
    .twitter {
        background-color: #8ccbf9;
        border-color: #00aced;
    }
    .facebook {
        background-color: #899bc1;
        border-color: #3b5998;
    }
    .email {
        background-color: #b3b3b3;
        border-color: #666666;
    }
    
    .progress-bar {
        float: left;
        
    }
    
    .progress-bar li {
        padding: 15px 10px 15px;
        list-style: none;
        float: right;
        width: 33.3333333333%;
        margin: 0;
        display: block;
        text-align: center;
    }
    
    .progress-bar li p {
        text-align: center;
    }
    
    .progress-bar li:nth-child(1n+3){
        border-top: none;
        border-right: 1px solid #00aced;
    }
    
    .progress-bar__blue {
        width: 74%;
        height: 100%;
    }
    
    .joined {
        display: block;
        float: left;
        width: 100%;
        margin: 25px auto 0;
    }
    
    
    
    
    /* Typography
    ************************************* */
    
    h1,h2,h3,h4,h5,p,a, .how-it-works h3,
    .button, .circle, input, button, li {
        font-family: "proxima-nova",sans-serif;
        font-style: normal;
        color: rgb(51,51,51);
    }
    .circle {
        color: white;
    }
    h1 {
        font-size: 2.5em;
        line-height: 2em;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    header h1 {
        margin: 0 auto;
        padding: 0;
        font-size: 2em;
    }
    aside h1, aside h3 {
        margin: 0;
        padding: 0;
    }
    
    .refer-container h1, 
    .refer-container h3, 
    .refer-container p {
        margin: 0;
        padding: 0;
    }
    
    .refer-container h1 {
        text-align: left;
        font-size: 30px;
        line-height: 1.1333;
        margin-bottom: 20px;
    }
    
    .refer-container h3 {
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 1.875em; /* 30px */
        margin: 0 0 15px 0;
        padding: 0;
    }
    
    .how-it-works h3 {
        margin-top: 25px; 
        font-weight: 600;
    }
    
    h3 {
        font-weight: normal;
        color: #bbb;
        font-size: 24px;
        line-height: 35px;
    }
    
    h4 {
        color: #00aced;
        font-size: 2em;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    
    p {
        font-size: 1.1875em;
        line-height: 1.375em;
        color: rgb(77,77,77);
        padding: 0;
        margin: 15px 0;
    }
    
    .progress-bar li p {
        
    }
    
    .tracker-container p {
        text-align: center;
    }
    
    p a {
        color: rgb(86,164,218);
        text-decoration: none;
    }
    
    .notes_right,
    .notes_left--price,
    .notes_left--chart,
    .notes_left--time,
    .notes_left--time p{
        font-family: "proxima-nova", sans-serif;
        font-style: italic;
        color: rgba(51,51,51,.35);
    }
    
}

