* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
@font-face {
  font-family: SSSocialRegular;
  src: url(fonts/ss-social-regular.eot);
  src: url(fonts/ss-social-regular.eot?#iefix) format('embedded-opentype'),
       url(fonts/ss-social-regular.woff) format('woff'),
       url(fonts/ss-social-regular.ttf)  format('truetype'),
       url(fonts/ss-social-regular.svg#SSSocialRegular) format('svg');
  font-weight: normal;
  font-style: normal;
}
body, html {
    padding: 0;
    margin: 0;
    background-color: rgba(247,247,247,1);
}
/*  ===================================================
    01. Mobile
    =================================================== */

@media (min-width: 320px) {  

    /*  ==================================
        1.1 Header and Main Navigation
        ==================================  */
    
    header {
        position: fixed;
        width: 100%;
        z-index: 100;
        padding: 0 2.5%;
        float: left;
        min-height: 56px;
        background-color: white;
        box-shadow: 0px 2px 0px 0px rgba(200,200,200,.3);
        display: block;
    }
    .logo_wordmark {
        max-width: 200px;
        height: auto;
        float: left;
        display: block;
        clear: both;
        margin: 13px auto 0;
        display: none;
    }
    .logo_symbol {
        max-width: 43px;
        float: left;
        display: block;
        clear: both;
        margin: 8px auto;
    }
    .signup-btn {
        background-color: rgba(254,234,85,.5);
        border-radius: 5px;
        padding: 15px 15px 12px 15px;
        display: inline-block;
        float: right;
        margin: 8px auto 0px auto;
        border: 2px solid rgb(254,234,85);
    }
    .signup-btn:active {
        background-color: rgba(254,234,85,1);
    }
    li.signup-btn {
        margin-top: 17px;
    }
    #showRightPush:hover {
        background-color: rgba(254,234,85,.25);
    }
    
    /* Navigation for Desktop
    ******************************************* */
    .site-nav {
        display: none;
    }
    .mobile {
        display: block;
    }
    
    /* Push Navigation for Mobile
    ******************************************* */
    #showRightPush {
        display: none;
        float: left;
        display: inline-block;
        padding: 12px 15px;
        background-image: url(images/menu_icon-02.svg);
    }
    .mobile-nav {
        display: block;
        width: 210px;
        float: right;
    }
    .nav_desktop {
        float: right;
        width: 25%;
        margin-top: -5px;
        background-color: red;
    }
    .nav_desktop ul {
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
    }
    .nav_desktop ul li:last-of-type {
        color: white;
    }
    .nav_desktop ul li:last-of-type:after {
        background-image: url(images/push_close.svg);
    }

    .nav_desktop ul li {
        float: left;
        display: inline-block;
        margin: 11px 10px 4px 0;
        padding: 12px 15px;
    }
    .nav_desktop ul li:nth-child(2n-1) {
        display: block;
    }
   
    
    /* -------- push menu ---------*/

    .cbp-spmenu {
        width: 250px;
        height: 100%;
        position: fixed;
        height: 100%;
        top: 0;
        z-index: 1000;
        right: 0;
        background-color: rgb(10,10,10);
        border-left: 2px solid black;
        margin: 0; 
        padding: 0;
    }
    .cbp-spmenu  {
        right: -250px;
    }
    .cbp-spmenu-right.cbp-spmenu-open {
        right: 0px;
    }
    .cbp-spmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;
    }
    .cbp-spmenu-push-toright {
        left: 240px;
    }
    .cbp-spmenu-push-toleft {
        left: -240px;
    }

    /* Transitions */

    .cbp-spmenu,
    .cbp-spmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
/*
    #showRightPush {
        padding: 10px 15px;
        color: white;
        border-radius: 5px;
        text-align: center;
        margin-top: 0px; 
        display: inline-block;
        clear: both;
    }
*/
    ul.push_list {
        margin-top: 24px;
        padding: 0 0 0 25px;
        list-style: none;
    }

    .push_list li {
        padding: 10px 0;
        width: 80%;
    }
    .push_list li:hover {
        opacity: .5;
    }

    .push_close {
        width: 17px;
        height: 17px;
        position: relative;
        top: 16px; 
        right: 15px;
        float: right;
    }
    .push_close:hover {
        opacity: .5;
    }
    /*  ----------------------------------
        Sidebar Navigation
        ---------------------------------- */
    .sidebar_navigation {
        width: 100%;
        float: left;
        margin-bottom: 50px;
        padding: 2px 0 0 0;
        background-color: #f4f4f4;
        border-bottom: 1px solid #ddd;
    }
    .sidebar_navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .sidebar_navigation ul li {
        width: 50%;
        float: left;
        padding: 10px 18px;
        color: black;
        text-align: center;
    }
    .sidebar_navigation ul li .active {
        background-color: red;
    }
    .sidebar_navigation ul li a {
        color: black;
        font-weight: 500;
        display: block;
        width: 100%;
        text-decoration: none;
    }
    
    /*  ==================================
        1.2 Main Content and Layout
        ==================================  */
    section {
        padding: 0;
        margin: 0;
    }
    .container, 
    .container-text {
        padding: 35px 7.5%;
        float: left;
        text-align: left;
        width: 100%;
    }
    section.overview {
/*        position: relative;*/
        padding: 0px 0 0;
        margin: 0;
/*        height: 70vh;*/
        min-height: 400px;
        width: 100%;
        float: left;
    }
    .main div {
        position: relative;
        margin: 60px auto 20px;
        padding: 0px 5% 30px 5%;
    }
    .main div {
        position: relative;
        padding: 30px 5% 0;
        background: url(images/device_BG.svg) top no-repeat;
    }
    article {
        padding: 25px 0;
        text-align: center;
    }
    article.components {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 0px;
        display: block;
        float: left;
    }
    article.desktop {
        display: none;
    }
    article.steps {
        width: 100%;
        float: left;
        border-bottom: 1px solid #f5f5f5;
    }
    article.dividends {
        padding: 50px 12.5%;
        float: left;
        width: 100%;
    }
    section.main {
        background-color: transparent;
        float: left;
    }
    .container-mobile {
        width: 100%;
        float: left;
        height: auto;
        background-color: white;
    }
    div.learning {
        width: 100%;
        min-height: 350px;
        float: left;
    }
    .blast {
        padding: 10px 0;
        background-color: white;
        float: left;
        width: 100%;
        margin-bottom: 50px;
    }
    .iphone {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .right {
        float: right;
    }
    .left {
        float: left;
    }
    .clear {
        clear: both;
    }
    .half_hero{
        position: relative;
        z-index: 0;
        height: 70vh;
        width: 100%;
        background-color: #333;
        float:left;
        margin-top: -80px;
    }
    .content {
        width: 100%;
    }
    .highlight {
        min-height: 400px;
        padding-top: 60px;
        border-bottom: 1px solid #eaeaea;
        float: left;
    }
    aside.football_feature, aside.simulator_feature {
        width: 50%;
        float: right;
        margin: 20px;
    }
    aside div {
        width: 100%;
        color: black;
    }
    aside div.football {
        float: right;
        position: relative;
    }
    .iphone_wrap {
        float: left;
        margin-top: 70px;
    }
    .legal {
        float: left;
        margin: auto;
        padding: 0 17.5% 50px;
        text-align: left;
    }
    .text_content{
        padding: 0px 0%;
        float: left;
    }
    .text {
        padding: 50px 17.5%;
    }
    .about_section {
        padding-top: 0px;
        float: left;
        text-align: center;
    }
    section.contact {
        padding-top: 50px;
        float: left;
    }
    /*  ----------------------------------
        Articles, Asides, People, Etc.
        ---------------------------------- */
    .people, .advisors {
        width: 100%;
        float: left;
    }
    article.headline {
        float: left;
    }
    aside.person {
        width: 100%;
        padding: 3%;
        float: left;
        margin-bottom: 40px;
        text-align: left;
    }
    aside.feature_item, aside.press_item {
        width: 100%;
        padding: 0 5%;
        float: left;
        text-align: center;
        margin-bottom: 50px;
    }
    article.job_listings {
        width: 100%;
        float: left;
        margin: 10px 0 50px;
        padding: 15px 0;
        text-align: left;
    }
    .job_listings a {
        width: 100%;
        float: left;
        text-decoration: none;
        color: black;
        border-top: 1px solid #eee;
        padding: 20px 3% 0px;
        opacity: 1;
    }
    .job_listings a:hover{
        background-color: #eaeaea;
        opacity: 1;
    }
    .positions_title {
        float: left; 
        display: block;
        width: 100%;
    }
    .job_listing {
        width: 250px;
        min-height: 350px;
        display: block;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 6px;
        float: none; 
        text-align: center;
        padding: 20px 15px;
        margin: 30px auto;
        text-decoration: none;
    }

    .job_listing img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0px auto;
    }
    .highlight_text {
        padding: 0 5%;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    aside#mobile_access {
        position: fixed;
        display: block;
        bottom: 0;
        width: 100%;
        padding: 15px 5%;
        background-color: #fff166;
        float: left;
        z-index: 1000;
        border-top: 1px solid #f0cc00;
    }
    aside#mobile_access div {
        float: left;
        width: 75%;
    }
    aside.component_text {
        float: left; 
        width: 100%;
        text-align: left;
        padding: 30px 0;
        text-align: center;
    }
    /*  ----------------------------------
        Colors
        ---------------------------------- */
    .light-bg {
        background-color: #f5f5f5;
    }
    .border {
        border-top: 1px solid #ddd;
    }
    /*  ----------------------------------
        Modal Dialog
        ---------------------------------- */
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }
/*
    .close-modal {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .close-modal:hover { 
        background: #00d9ff; 
    }
*/
    
    /*  ----------------------------------
        Menus, Lists, Drop-Down Modals
        ---------------------------------- */
    
    .cbp-spmenu-vertical {
        padding: 20px;
    }
    .cbp-spmenu ul {
        width: 100%;
        float: left;
        list-style: none;
        color: white;
        display: block;
        margin: 0;
        padding: 0;
    }
    .cbp-spmenu ul li a {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-left: 0;
        padding: 0;
        margin-right: 15px;
        float: left;
    }
    .cbp-spmenu ul li a:hover {
        opacity: .5;
    }
    /* Orientation-dependent styles for the content of the menu */
 
    .cbp-smenu-vertical,
    .cbp-smenu-horizontal {
        z-index: 1000;
    }    

    .cbp-spmenu-horizontal {
        width: 100%;
        height: 700px;
        left: 0;
        background-color: rgba(255,241,102,1);
        overflow: hidden;
        border-bottom: 2px solid #eada3f;
    }

/* Horizontal menu that slides from the top or bottom */
 
    .cbp-spmenu-top {
        top: -700px;
    }
    .cbp-spmenu-top.cbp-spmenu-open {
        top: 0px;
    }
 
    /* Transitions */

    .cbp-spmenu,
    .cbp-spmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .social ul {
        float: left;
        margin: 0;
        padding: 0;
    }
    .social ul li {
        list-style: none;
        float: left;
        height: 60px;
        width: 60px;
        margin-right: 20px;
    }
    /*  ----------------------------------
        Links
        ---------------------------------- */
    
    .positions_list ul li a{
        text-decoration: none;
        color: #29abd1
    }
    .positions_list ul li a:hover{
        background-color: #005dbc;
    }
    .cbp-spmenu-vertical a {
        text-decoration: none;
        color: white;
        margin: 10px;
        padding: 20px 0;
        width: 200px;
    }
    aside ul.social {
        display: block;
        width: 100%;
        float: left;
    }
    aside ul.social li {
        list-style: none;
        padding: 0;
        border-radius: 100%;
        background-color: red;
        width: 100px;
        height: 100px;
        float: left;
        margin: 0 20px;
        text-align: center; 
    }
    aside ul.social li:hover {
        background-color: beige;
    }
    li.error_icon, li.btn {
        display: block;
    }
    /*  ==================================
        1.3 Images
        ==================================  */
    img {
        width: 100%;
        height: auto;
    }
    .masthead-image {
        position: relative;
        min-height: 66vmin;
        overflow: hidden;
        background-color: #333;
    }
    .container img {
        margin: 25px auto;
    }
    img.iphone {
        width: 250px;
        margin: auto;
        display: block;
    }
    img.large {
        background-color: #ececec;
        position: relative;
    }
    img.square {
        width: 250px;
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        border-radius: 15px;
        margin: 15px auto;
        display: block;
    }
    img.how-it-works {
        margin: 40px auto 20px;
        display: block; 
        width: 100%;
    }
    .feature_image {
        width: 120px;
        margin-bottom: -8px;
        margin-left: -10px;
    }
    .feature_image img {
        width: 100%;
        height: auto;
    }
    section.overview > img {
        position: absolute;
        z-index: -1000;
        bottom: 0;
        width: auto;
        height: 100%;
        overflow: hidden;
    }
    .person > img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 3px solid #ccc;
    }
    .push_close {
        width: 17px;
        height: 17px;
        position: relative;
        top: 16px; 
        right: 15px;
        float: right;
    }
    .feature_item > img {
        width: 250px;
        border-radius: 5px;
    }
    .highlight_img {
        height: 120px;
        width: 120px;
        background-color: #fff166;
        border: 1px solid #fff120;
        border-radius: 100%;
        display: block;
        margin: 0 auto;
    }
    img.highlight_feature {
        float: none;
        width: 75%;
        display: block;
        margin: 0 auto;
    }
    #mobile_access > img {
        height: 40px;
        width: 40px;
        float: right;
        border-radius: 100%;
        border: 3px solid black;
    }
    img.mobile {
        display: block;
    }
    img.desktop,
    img.tablet {
        display: none;
    }
    img.how-it-works-mobile {
        width: 85%;
        display: block;
        margin: 20px auto;
    }
    
    /* Forms
    *************************************** */
    
    #sign-up {
        width: 100%;
        padding: 10px 5% 30px 5%;
        float: left;
    }
    #sign-up p{
        text-align: center;
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
        font-weight: 200;
        border-top: 1px solid #eee;
        padding-top: 15px;
    }
    input {
        padding: 0;
    }
    input[type=email] {
        padding: 8px 0 7px 10px; 
    }
    input[type=email]:focus {
        color: black;
    }
    .big {
        height: 100%;
        width: 80%;
        border: 2px solid #ddd;
        border-radius: 6px;
        padding: 0;
        font-size: 1.25em;
    }
    
    /* Buttons, Elements, Etc.
    *************************************** */
    
    .email-signup {
        width: 600px;
        height: 50px;
        float: none;
        display: none;
        clear: both;
        margin: 30px auto;

    }
    #submit {
        padding: 9px 0 7px;
        background-color: white;
        border: 2px solid black;
        opacity: 1;
        float: right;
        width: 18%;
        font-size: 1.125em;
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
        font-weight: 700;
        color: black;
        border-radius: 6px;
        transition: all .25s ease-in-out;
    }
    #submit:hover{
        background-color: #fff166;
        transition: all .25s ease-in-out;
    }
    .btn, .large_btn {
        background-color: red;
        border-radius: 6px;
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.125em;
    }
    .btn {
        padding: 10px 10px;
        color: white;
        text-align: center; 
        display: block;
        margin: 40px auto 0;
        opacity: .8;
    }
    .dividends a {
        text-decoration: none; 
    }
    .btn:hover {
        opacity: 1;
        color: white;
    }
    .btn:hover h4 {
        color: black;
    }
    a h4 {
        margin: 0;
        padding: 0;
    }
    button#showTop {
        display: none;
    }
    button#showTop:hover {
        background-color: rgba(15,15,15,.7);
        color: white;
        border: 2px solid black;
    }
    
    button#showRightPush {
        background-color: transparent;
        background-image:url(images/menu_icon-02.svg);
        border: none;
        color: black;
        height: 60px;
        width: 60px;
        float: right;
        display: none;
        
    }

    .error_icon {
        width: 36px;
        height: 36px;
        background-color: red;
        border-radius: 5px;
        text-align: center;
    }
    .large_btn {
        float: right;
        width: 200px;
        height: 36px;
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
        float: left;
        line-height: 1;
        display: block;
        margin: 0 0 0 15px;
    }
    input {
        width: 380px;
        height: 36px;
        border-radius: 5px;
        float: left;
        border: none;
        padding: 0 10px;
    }
    #close {
        width: 25px;
        height: 25px;
        position: relative;
        float: right; 
        top: 25px;
        right: 25px;
    }
    #close:hover {
        opacity: .25;
    }
    hr {
        margin-top: 0;
        border-bottom: 1px solid rgb(60,60,60);
        border-top: none;
        border-right: none;
        border-left: 0;
    }
/*  ==================================
    1.5 Footer
    ==================================  */
    
    footer {
        width: 100%;
        padding: 0px 5% 30px;
        float: left;
        clear: both;
        margin-top: 0px;
    }
    div.copyright {
        text-align: center;
        margin-top: 40px;
        float: left;
        width: 100%;
        border-top: 1px solid #eee;
        font-size: 1.125em;
    }
    .footer_text {
        width: 100%;
        float: left;
        padding: 20px 0 0;
    }
    .footer_text li:first-of-type {
        color: white;
    }
    footer ul {
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    footer ul li {
        display: block;
        width: 50%;
        float: left;
        margin: 1px auto;
        list-style: none;
        font-size: 1.25em;
        font-weight: 200;
        text-align: center;
    }
    footer ul li a:hover {
        color: black;
    }
    .footer_text ul li a {
        color: #999;
    }
    footer ul li a {
        text-decoration: none;
        color: black;
    }
    .email::before,
    .facebook::before,
    .twitter::before {
        margin-right: 8px;
        height: 9px;
        width: 18px;
        float: left;
        margin-top: 4px;
    }
    .twitter,
    .twitter-small {
        background-color: #00aced;
        border: 2px solid #0081b2;
        height: 60px;
        width: 60px;
        border-radius: 100%;
    }
    .twitter-small {
        height: 40px;
        width: 40px;
    }

    .twitter:hover {
        background-color: #0081b2;
    }
    .facebook,
    .facebook-small {
        background-color: #3b5998;
        border: 2px solid #2e4c8b;
        height: 60px;
        width: 60px;
        border-radius: 100%;
    }
    .facebook-small {
        height: 40px;
        width: 40px;
    }
    .facebook:hover {
        background-color: #2e4c8b;
    }
    .email,
    .email-small{
        background-color: #ccc;
        border: 2px solid #aaa;
        height: 60px;
        width: 60px;
        border-radius: 100%;
    }
    .email-small {
        height: 40px;
        width: 40px;
    }
    .email:hover {
        background-color: #aaa;
    }
    .twitter::before {
        content: url(images/icon_twitter-15.svg);
    }
    .facebook::before {
        content: url(images/icon_facebook-16.svg);
    }
    .email::before {
        content: url(images/icon_email.svg);
    }
    
    /*  ==================================
        2.6 Typography
        ==================================  */
    li, h1, h2, h3, h4, h5, b,
    .round_number, .current_email, .not_you, input,
    a.nav-link{
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
    }
    p, li{
        font-family: "freight-text-pro", serif;
    }
    p, li, .round_number, .current_email, .not_you {    
        font-weight: 400;
        font-size: 1.2em;
        line-height: 1.5em;
        color: #333;
    }
    article.components p {
        padding: 0 7.5%;
        color: #bbb;
    }
    .feature_item p {
        text-align: left;
        font-size: 18px;
        line-height: 24px;
    }
    .draft_number p {
        margin: 0;
        padding: 0;
        color: black;
    }
    .cbp-spmenu-horizontal > p {
        margin: 5px 0;
        padding: 0 5%;
        font-size: 1.125em;
        line-height: 1.5;
        text-align: center;
    }
    
    /* Header Tags 
    ************************************** */
    
    h1, .round_number, .full h1 {
        font-weight: 700;
        display: block;
        text-align: center;
        text-transform: none;
        font-size: 2em;
        line-height: 1;
        color: black;
        margin: 0;
    }
    .signup-btn h4 {
        font-size: 1em;
        text-decoration: none;
        color: black;
        display: block;
        margin: 0;
        line-height: 1;
        font-weight: normal
    }
    article.components h2 {
        color: white;
    }
    .round_number {
        font-weight: 600;
    }
    .legal h1 {
        text-align: left;
    }
    h2 {
        font-weight: 600;
    }
    .md-content h2 {
        margin: 0 auto;
        line-height: 1.2;
        padding: 0;
        color: #ccc;
        font-weight: 400;
    }
    .md-content h2 > strong {
        color: black;
        border: 1px solid #ccc;
        padding: 0px 10px;
        border-radius: 6px;
        background-color: white;
    }
    .container-mobile h2,
    .container-mobile h3 {
        padding: 0 10%;
        line-height: 1.5;
        text-align: center;
    }
    .container-mobile h2 {
        font-size: 2em;
        letter-spacing: -1px;
    }
    .container-mobile h3 {
        font-size: 100%;
        margin: 0;
    }
    h3, .advisors h3 {
        font-weight: 300;
        font-size: 22px;
        line-height: 35px;
        color: rgb(100,100,100);
    }
    .main div > h3 {
        color: #eee;
        margin: 0;
        font-size: 1.5em;
        padding: 0 5%;
        text-align: center;
    }
    .container-text h3 {
        color: #ccc;
    }
    #mobile_access h3 {
        margin: 0; 
        padding: 0;
        line-height: 1;
        margin-top: 5px;
        color: black;
    }
    .highlight_text h3{
        color: black;
        padding:0;
        margin: 20px 0 10px;
    }
    .advisors > h3 {
        font-size: 32px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: #999;
    }
    .positions_list > h3 {
        margin: 15px 0 0 0;
        padding: 0;
    }
    .main div > h3 {
        color: black;
        margin: 10px 0 0 0;
        font-size: 1.125em;
        line-height: 1.45em;
        padding: 0 5%;
        text-align: center;
    }
    .component-text h4 {
        font-size: 1.5em;
        text-transform: none;
    }
    h5 {
        font-weight: 800;
        font-size: 3em;
        line-height: 1;
        display: block;
        margin: 0;
        text-align: left;
    }
    .ss-icon{
        font-family: SSSocialRegular;
        padding-top: 3px;
        display: inline-block;
    }
    .person h3 {
        line-height: 1.15;
        font-weight: 700;
        margin-bottom: -10px;
    }
    .content h3 {
        font-weight: 700;
        margin: 0;
    }
    .copyright p {
        color: #999;
        font-size: 1em;
    }
    footer p, footer li {
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
        font-weight: 200;    
    }
    /* Link Tags
    ********************************************/
    
    a.nav-link {
        font-weight: normal;
        font-size: .875em;
    }
    p a {
        text-decoration: none;
        color: #39c;
        padding: 0;
        margin: 0;
        padding-bottom: -1px;
        transition: all .15s ease-in-out;
    }
    p a:hover {
        color: black;
        transition: all .15s ease-in-out;   
    }
    .legal p, .legal li, .positions_list ul li a {
        color: #a2a2a2;
    }
    .legal p strong {
        color: black;
    }
    aside div p {
        color: #ccc;
    }
    b {
        color: black;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 20vh;
        text-align: center;
        font-size: 1.5em;
        font-weight: 800;
        letter-spacing: 1;
    }
    .main b {
        top: 0;
    }
    .job_listings a b {
        color: black;
    }
    input {
        opacity: 1;
    }
    ::-webkit-input-placeholder {
        color: #ccc;
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
        opacity: 1;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #ccc;
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
        opacity: 1;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        color: #ccc;
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
        opacity: 1;
    }
    :-ms-input-placeholder {  
        color: #ccc;
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
        opacity: 1;
    }
}
/*  ===================================================
    02. Tablet
    =================================================== */

@media (min-width: 601px) { 
    .logo_wordmark {
        display: block;
    }
    .logo_symbol {
        display: none;
    }
    .container {
        padding: 25px 10%;
    }
    section.overview {

    }
    aside.person {
        width: 50%;
        float: left;
    }
    .job_listing {
        width: 45%;
        margin: 30px 2.5%;
        float: left;
    }
    #sign-up {
        width: 100%;
        padding: 0 17.5% 30px;
        margin: auto;
    }
    .container-mobile {
        display: none;
    }
    button#showTop {
        display: block;
        position: relative;
        float: none;
        margin: auto;
        text-align: center;
        background-color: rgba(255,255,255,.7);
        padding: 15px 0px;
        width: 180px;
        border: 2px solid black;
        border-radius: 5px;
        color: black;
        margin-top: 20px;
        transition: all .15s ease-in;
        text-decoration: none;
        font-size: 1em;
    }
    
    /*  Images
    **************************************/
    
    section.overview > img {
        position: absolute;
        z-index: -1000;
        bottom: 0;
        width: 120vw;
        height: auto;
        overflow: hidden;
    }
    img.ingredients {
        width: 550px;
        margin: 0 auto 15px auto;
        display: block;
    }
    
    /*  Footer
    **************************************/
    
    footer ul li {
        display: block;
        width: 33.333333333%;
    }
    
    /*  Typography
    **************************************/
    
    p, li {
        font-size: 22px;
        line-height: 33px;
    }

    b {
        font-size: 2.25em;
    }
    .main div > h3 {
        margin: 10px 0 0 0;
        font-size: 1.5em;
        line-height: 1.35em;
        padding: 0 5%;
        text-align: center;
    }
}
/*  ===================================================
    03. Tablet Vertical
    =================================================== */

@media (min-width: 799px) {
    
    /* Navigation for Tablet and Up 
    ********************************************/
    
    .mobile, #showRightPush {
        display: none;
    }
    
    /* Navigation for Tablet and Up 
    ********************************************/
    
    .site-nav {
        width: 50%;
        min-width: 300px;
        max-width: 400px;
        display: block;
        vertical-align: top;
        height: 100%;
        float: none;
        margin: 0 auto;
    }
    .nav-link {
        text-align: center;
        width: 20%;
        min-width: 60px;
        height: 58px;
        line-height: 55px;
        padding: 0 18px;
        position: relative;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.75;
        letter-spacing: .04em;
        color: #3a3a3a;
        padding: 20px 18px;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
    }
    .active {
        color: #39c;
    }
    .active.nav-link:after {
        position: absolute;
        bottom: 0px;
        left: 18px;
        right: 18px;
        content: '';
        display: block;
        height: 4px;
        background-color: #39c;
    }
    .nav-link:hover {
        background-color: rgba(51,153,204,.125);
    }
    .signup-btn {
        border-radius: 5px;
        padding: 14px 15px 11px 15px;
        display: inline-block;
        float: right;
        margin: 6px auto 0px auto;
        position: absolute;
        top: 0px;
        right: 5%;
    }

    .signup-btn:hover {
        background-color: rgba(254,234,85,1);
    }
    li.signup-btn {
        margin-top: 17px;
    }
    footer {
        padding: 0 15%;
    }
    section.overview {
     
    }
    footer ul li {
        display: block;
        width: 16.66666667%;
    }
}

/*  ===================================================
    03. Desktop
    =================================================== */

@media (min-width: 1000px) {  
    .container {
        padding: 25px 0;
        position: relative;
    }
    .container-text {
        padding: 40px 17.5% 20px;
        float: left;
    }
    aside.person {
        width: 50%;
        float: left;
        padding: 0 2.5%;
        margin: 30px 0;
    }
    section.overview {
  
    }
    article.steps {
        padding: 50px 10%;
    }
    aside.component-text {
        width: 50%;
        margin: 0%;
        text-align: left;
    }
    aside.component-text-small {
        width: 20%;
        margin: 5%;
        text-align: left;
    }
    .cbp-spmenu-horizontal {
        width: 100%;
        height: 95vh;
        left: 0;
        background-color: rgba(255,241,102,.98);
        overflow: hidden;
        border-bottom: 3px solid #eada3f;
    }
    /* Horizontal menu that slides from the top or bottom */
 
    .cbp-spmenu-top {
        top: -95vh;
    }
    .cbp-spmenu-top.cbp-spmenu-open {
        top: 0px;
    }
    .main div {
        position: relative;
        padding: 30px 5% 0;
        background: url(images/device_BG.svg) top no-repeat;
    }
    nav li.error_icon, li.btn {
        display: inline-block;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .lesson, 
    .duel {
        position: relative;
        top: 150px;
    }
    #close {
        width: 25px;
        height: 25px;
        position: relative;
        float: right; 
        top: 25px;
        right: 25px;
    }
    
    /* Footer
    *************************************** */
    
    footer {
        padding: 0 22.5%;
    }
    
    /* Images
    *************************************** */
    
    img.how-it-works {
        margin: 40px auto 20px;
        display: block; 
        width: 700px;
    }
    img.mobile,
    img.tablet {
        display: none;
    }
    img.desktop {
        display: block;
    }
    
    /* 03.05 Typography
    *************************************** */
    
    .component-text h4 {
        font-family: "jaf-bernino-sans",sans-serif;
        font-style: normal;
        font-size: 34px;
    }
    .lesson h1 {
        text-align: left;
        font-size: 3.5em;
        margin-bottom: 75px;
    }
    .main div > h3 {
        margin: 0;
        font-size: 1.5em;
        padding: 0 15%;
        text-align: center;
    }
    .cbp-spmenu-horizontal > p {
        margin: 5px 0;
        padding: 0 22%;
        line-height: 1.3;
        text-align: center;
    }
}


/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
    border-radius: 10px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(143,27,15,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
    background: blue;
}

/* Content styles */
.md-content {
    position: relative;
	color: #fff;
	background: #fafafa;
	position: relative;
	border-radius: 10px;
	margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px 0 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,.25);
    float: left;
}
.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 600;
    letter-spacing: -1px;
	opacity: 1;
    color: black;
	background: rgba(0,0,0,0.0);
	border-radius: 3px 3px 0 0;
}
.md-content > div {
	padding: 10px 30px 0px;
	margin: 0;
	font-weight: 300;
	font-size: 1em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content input {
    border: 1px solid #ccc;
    display: block;
    margin: 25px auto;
    float: none;
    width: 100%;
    max-width: 400px;
    font-size: 1.25em;
    text-align: center;
}
.md-content input:focus {
    outline: none;
}
.md-content > div ul {
    display: block;
    float: none;
    width: 100%;
    max-width: 400px;
	margin: 0 auto 30px auto;
    padding: 5px 0;
    clear: both;
}

.md-content > div ul li {
	padding: 0;
    list-style: none;
    width: 33.333333333%;
    float: left;
    background-color: transparent;
}
.md-content > div ul li img {
    width: 60px;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
    background-color: transparent;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}

/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

a {
	color: #c0392b;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: #d94839;
	padding: 3em;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */
/*
.main {
	max-width: 69em;
}
*/

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}


button {
	border: none;
	padding: 0;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}






@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}
.social-share {
    height: 90%;
    width: 70%
}
button.md-close {
    margin-top: 0px;
    height: 40px;
    padding: 0 0 .1em .05em;
    width: 40px;
    color: black;
    border-radius: 4px;
    display: block; 
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.85em;
}
button.md-close:hover {
    background-color: #ccc;
}
.share {
    height: 60px;
    width: 60px;
}

.cbp-spmenu-horizontal h3 {
    margin: 20px auto 0px auto;
    text-align: center;
    font-size: 1.45em;
    font-weight: 400;
    color: black;
    letter-spacing: -1px;  
    width: 80%;
    max-width: 650px;
}





